@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow p-4 text-center">
                <h1 class="mb-4">@ViewData["Title"]</h1>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
            </div>
        </div>
    </div>
</div>
