@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Redefinição de Senha";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow p-4 text-center">
                <h1 class="mb-4">@ViewData["Title"]</h1>
                <p class="text-success">
                    Sua senha foi redefinida com sucesso. Por favor, <a asp-page="./Login" class="text-primary">clique aqui para entrar</a>.
                </p>
            </div>
        </div>
    </div>
</div>
