@page
@model AvaliacaoA1.Pages.Membro.DetailsModel

@{
    ViewData["Title"] = "Detalhes do Membro";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4">Detalhes do Membro</h1>

    <div class="card shadow p-4">
        <h4 class="font-weight-bold text-primary mb-3">Informações do Membro</h4>
        <dl class="row">
            <dd class="col-sm-9">@Model.Membro.Nome</dd>
            <dd class="col-sm-9">@Model.Membro.Email</dd>
        </dl>

        <div class="d-flex justify-content-end">
            <a asp-page="./Index" class="btn btn-outline-secondary btn-lg shadow-sm">Voltar à Lista</a>
        </div>
    </div>
</div>
